.positionBottomRight {
    position: absolute;
    bottom: 1.0rem;
    right: 1.0rem;
}

.iconLarge {
    &::before {
        font-size: 3.0rem;
        font-weight: 700;
    }
}

.buttonSection {
    display: flex;
    justify-content: center;

    .innerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid black;
        min-width: 250px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 0.5rem;

        position: relative;

        .configuration {
            position: absolute;
            top: 2px;
            left: 5px;
            cursor: pointer;
        }
    }
}