.positionBottomRight {
    position: absolute;
    bottom: 1.0rem;
    right: 1.0rem;
}

.iconLarge {
    &::before {
        font-size: 3.0rem;
        font-weight: 700;
    }
}

.buttonSection {
    display: flex;
    justify-content: center;

    .innerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}